/* outer container: fixed at bottom */
.input-container {
  position: fixed;
  bottom: 0;
  left: 300px;              /* space for sidebar */
  right: 0px;
  background-color: #001F8B; /* dark blue padding */
  padding: 0.75rem 1rem;
  box-sizing: border-box;
  border-top-left-radius: 0.5rem;
}

/* inner white box */
.input-div {
  background: #001F8B;;          /* white inner box */
  border-radius: 0.5rem;
  display: flex;
  align-items: flex-start;
  padding: 0.5rem;
  width: 100%;
}

/* text area */
.note-input {
  background-color: #fff;
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  box-sizing: border-box;
  resize: none;
}

.note-input:focus {
  outline: none;
}

.note-input::placeholder {
  font-size: 1rem;
  color: #9a9a9a;
}

/* send button */
.send-btn {
  margin-left: 0.5rem;
  align-self: center;
  transition: transform 0.2s ease;
}

.send-btn:hover {
  transform: scale(1.2);
}
