.input-container {
  position: absolute;
  bottom: 0;
  right:0;
  padding: 1rem;
  box-sizing: border-box;
  left: 300px;
  flex: 1;
  width: 100%;

}

.input-inner {
  background-color: #001F8B;
  border-radius: 0.75rem;
  display: flex;
  align-items: flex-start;
  padding: 0.5rem;
  width: 100%;        
  max-width: 100%;   
  margin: 0;          
  box-sizing: border-box;
  left: 300px;
}


.note-input {
  flex: 1;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  resize: none;
  min-height: 3rem; 
}

.note-input:focus {
  outline: none;
}

.note-input::placeholder {
  font-size: 1rem;
  color: #9a9a9a;
}

.send-btn {
  margin-left: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
}

.send-btn:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {
  .input-container {
    left: 0;
    width: 100%;
    padding: 0.5rem; 
  }
}
