.note-header {
  position: fixed;
  top: 0;
  left: 300px;
  right: 0; 
  height: 50px;
  background-color: #001F8B;
  display: flex;
  align-items: center; 
  padding: 0 1rem;
  box-sizing: border-box;
  z-index: 10; 
}

.header-note-title {
  font-weight: 500;
  font-size: 1.3rem;
  color: white;
}

.header-note-icon {
  background-color: var(--notes-color-1);
  color: var(--white-color);
  width: 3rem;
  height: 3rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .note-header {
    left: 0;
    width: 100%;
  }
}
